* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: #f5f2f0;
}
.logo {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 150px;
  height: auto;
}
.line-y {
  border-bottom: 4px solid #313131;
  display: block;
  width: 330px;
  height: 100px;
  position: absolute;
  top: -30px;
  left: 620px;
}
.nav-items {
  color: #646363;
  font-size: 24px;
  position: absolute;
  left: 1000px;
  top: 55px;
  margin: 0px -20px;
}
.nav-item:hover {
  color: #000000;
}
.nav-item {
  margin: 0 20px;
}
.side-img {
  width: 600px;
}
/* header section done */
.img-text {
  position: absolute;
  top: 96px;
  left: 621px;
  width: 30%;
}
h3 {
  position: absolute;
  top: 220px;
  left: 1111px;
  color: grey;
  font-weight: 100;
  font-size: 35px;
}
button {
  position: relative;
  top: -490px;
  left: 1120px;
  background: #050505;
  border-color: #000000;
  color: #ffffff;
  width: 300px;
  height: 50px;
  font-size: 18px;
}
.icons {
  position: relative;
  top: -800px;
  left: 1400px;
}
h6 {
  margin: 20px 0px;
  width: 40%;
  height: auto;
}
